
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: rgb(4,0,255);
    background: radial-gradient(circle, rgba(4,0,255,1) 0%, rgba(44,255,0,0.7371323529411764) 100%);

}

.content label{
    color: azure;
    width: 100%;
    display: flex;
    justify-items: start;
    align-items: center;
}

.content input{
    width: 100%;
    display: flex;
    justify-content: end;
    justify-items:end;
    margin: 5px;
    border-radius: 30px;
}

.content textarea{
    width: 100%;
    display: flex;
    justify-content: end;
    justify-items:end;
    margin: 5px;
    border-radius: 10px;
}

.glass{
    width: 300px;
    height: 300px;
    backdrop-filter: blurn(10px);
    border-radius: 30px;
    background: linear-gradient(100deg,rgba(0,0,0,.2),rgba(0,0,0,.5));
    box-shadow: 0 10px 26px 0 ,rgba(0,0,0,.50);
}
